::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb {
	background: rgba(128, 128, 128, 0.5);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(128, 128, 128, 0.7);
}
::-webkit-scrollbar-thumb:active {
	background: rgba(128, 128, 128, 0.8);
}
::-webkit-scrollbar-track {
	background: transparent;
}
